img {
  height: 150px;
}
.description {
  font-size: 20px;
}
#cook-time {
  font-weight: bold;
}
.ingredients {
  list-style: square;
}
.time {
  color: gray;
}
.external-link {
  color: SeaGreen;
}
h1,
h2,
p,
li {
  font-family: Helvetica;
}
.main-container {
  background: radial-gradient(#fff, rgb(235, 160, 170));
}
img:hover {
  transform: translateY(-5px);
}
h1,
h2 {
  color: crimson;
  text-decoration-line: underline;
}
